.job_header {
  font-size: 30px;
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-color:#2590cf;
  border-bottom: medium, solid, #2590cf;
  padding-top: 1.5rem;
}

.job_des {
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
}

.jobs_item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-style: solid;
  border-width: medium;
  border-color: #2590cf;
  border-radius: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  background-origin: border-box;
}

.start_date {
  text-decoration: overline;
  font-stretch: expanded;
  padding-top: 1rem;
}