
  .job_header {
    font-size: 30px;
    color: #9ea341;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-color:#42506e;
    border-bottom: medium, solid, #42506e;
    padding-top: 1.5rem;
    padding-bottom: 0rem;
    font-family: 'Fira Sans', sans-serif;
  }
  
  .my_job_banner {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: black;
    color: white;
    opacity: 75%;
    font-family: 'Fira Sans', sans-serif;
  }

  .extra_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: whitesmoke;
    font-family: 'Fira Sans', sans-serif;
  }

  .job_des {
    font-size: 18px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    background-color: transparent;
    color: whitesmoke;
    font-family: 'Fira Sans', sans-serif;
  }
  
  div .job_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-style: solid;
    border-width: medium;
    border-color: #42506e;
    border-radius: 1rem;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgba(0, 0, 0, .95);
    background-origin: border-box;
    font-family: 'Fira Sans', sans-serif;
  }
  
  .start_date {
    text-decoration: overline;
    font-stretch: expanded;
    padding-top: 1rem;
    color: whitesmoke;
    font-family: 'Fira Sans', sans-serif;
  }

  .search-bar {
    // display: flex;
    justify-content: center;
    flex-shrink: 3;
    flex-direction: column;
    width: 30%;
    margin-left: 35%;
    border-color: #42506e;
  }

  #button-id {
    background-color: #1e214a;
    opacity: 95%;
  }

  // .button-stack {
  //   display: flex;
  //   align-items: center;
  // }

  #Button {
    background-color: #1e214a;
    opacity: 95%;
    font-family: 'Fira Sans', sans-serif;
  }

  .profile-link {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    // margin-bottom: 1px;
    font-family: 'Fira Sans', sans-serif;
  }

  .h3 {
    color: #9ea341;
    font-family: 'Fira Sans', sans-serif;
  }

  .h2 {
    display: flex;
    justify-content: center;
    color: #9ea341;
    font-family: 'Fira Sans', sans-serif;
    background-color: rgba(0, 0, 0, .9);
    width: 35%;
    margin-top: 15px;
    margin-left: 33%;

  }

