
  .job_header {
    font-size: 30px;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-color:#2590cf;
    border-bottom: medium, solid, #2590cf;
    padding-top: 1.5rem;
    padding-bottom: 0rem;
  }
  
  .extra_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .job_des {
    font-size: 12px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
  }
  
  div .job_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-style: solid;
    border-width: medium;
    border-color: #2590cf;
    border-radius: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    background-origin: border-box;
  }
  
  .start_date {
    text-decoration: overline;
    font-stretch: expanded;
    padding-top: 1rem;
  }

