.worker_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-style: solid;
    border-width: medium;
    border-color: #42506e;
    border-radius: 1rem;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgba(0, 0, 0, 0.9);
    background-origin: border-box;
}