
.title {
  padding-top: 100px;
}

input {
    box-sizing: border-box;
    padding: 1px 6px;
    border-radius: .5rem;
    border: 0;
    font-size: 1.5rem;
    height: 2rem;
    line-height: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 16px;
    width: 8rem;
    border-width: 2px;
    border-style: solid;
    border-color: #2590cf;
    color: #000;
    background-color: transparent;
  
}

  